* {
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    width: 250px;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.card h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.card span {
    font-size: 16px;
    color: gray;
}

.card p {
    margin: 10px 0;
    color: #555;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #4338ca;
}
.card:hover{
    border: 2px solid blue;
}