* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: white;
}

/* LEFT SECTION */
.left-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

.form-card {
    width: 380px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.google-btn {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 12px;
}

.divider {
    text-align: center;
    color: gray;
    margin-bottom: 18px;
}

.form-group {
    margin-bottom: 12px;
}

.form-group label {
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.sign-up-btn {
    width: 100%;
    padding: 10px;
    background: #5b5bf7;
    border: none;
    color: white;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 15px;
}

/* RIGHT SECTION */
.right-section {
    width: 50%;
    background: #4b46e1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
}

.right-content {
    text-align: center;
    max-width: 550px;
}

.hero-img {
    width: 75%;
    margin-top: 20px;
}